.popupContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f0f1f3;
  height: 100%;
  width: 100%;
}

.popup {
  background: #fff;
  padding: 4rem;
  border-radius: 8px;
  width: 50%;
}

@media screen and (max-width: 16em) {
  .popup {
    width: 100%;
  }
}

@media screen and (max-width: 48em) {
  .popup {
    width: 80%;
  }
}

.popup__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.popup__title {
  font-size: 18px;
  color: var(--var-text-dark);
}
.popup__subtitle {
  font-size: 18px;
  color: #d3d4d8;
  user-select: none;
}

.popup__footer {
  display: flex;
  margin-top: 2em;
  justify-content: space-between;
}

.popup__message {
  color: #d3d4d8;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.popup__icon {
  margin-left: 8px;
  width: 16px;
  height: 16px;
  color: #ef476f;
}
