.popupContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f0f1f3;
  height: 100%;
  width: 100%;
}

.popup {
  background: #fff;
  padding: 4rem;
  border-radius: 8px;
}

.popup__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.popup__title {
  font-size: 18px;
  color: var(--var-brand-tertiary);
}
.popup__subtitle {
  font-size: 18px;
  color: #d3d4d8;
}

.popup__content {
}
